services:
  comfyui:
    build: .
    container_name: comfortable-strix-halo
    user: "1000:1000"
    command: ["comfy", "launch"]
    ipc: host
    network_mode: host
    shm_size: 8g
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    environment:
      - HSA_OVERRIDE_GFX_VERSION=11.0.0
    volumes:
      - ./data/models:/app/comfyui/models
      - ./data/blueprints:/app/comfyui/blueprints
      - ./data/input:/app/comfyui/input
      - ./data/output:/app/comfyui/output
      - ./data/user:/app/comfyui/user
      - ./data/custom_nodes:/app/comfyui/custom_nodes
    tty: true
    
  nginx:
    image: nginx:alpine
    container_name: comfyui-proxy
    network_mode: host
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
