services:
  comfyui:
    build: .
    container_name: comfortable-strix-halo
    user: "1000:1000"
    #ports:
    #  - 8000:8000 # Not needed in host networking mode
    command: ["comfy", "launch"]
    ipc: host
    network_mode: host
    shm_size: 8g
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    environment:
      - HSA_OVERRIDE_GFX_VERSION=11.0.0
    volumes:
      - ./models:/app/comfyui/models
    tty: true
